<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="...">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>WriteAblogAboutIt</title>
</head>
<body>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">login</a></li>        
    </ul>
    <main>
        {{{ body }}}
    </main>
    <footer>
    <ul class="social-icons">
        <li><a href="https://www.facebook.com/YourPage" target="_blank"><img src="facebook-icon.png" alt="Facebook"></a></li>
        <li><a href="https://twitter.com/YourProfile" target="_blank"><img src="twitter-icon.png" alt="Twitter"></a></li>
        <li><a href="https://www.instagram.com/YourProfile" target="_blank"><img src="instagram-icon.png" alt="Instagram"></a></li>        
    </ul>
    </footer>
    
</body>
</html>