<section>
    <header>
        <h1>W.A.B.A</h1>
        <P>write a blog about-it</P>
    </header>
    {{#each articleArr as |article|}}
    <section>
        <div class="card-container">
            <div class="card-header">
                <span class="article-title">{{article.title}}</span>
            </div>
            <div class="article">
                <span class="article-body">{{article.article_body}}</span>
            </div>
            <div>
                <span class="article-poster">{{article.user.name}}</span>
            </div>
        </div>
    </section>
    {{/each}}
</section>