<section>
    <div>
        <form id="art-form">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
            <label for="art-body">write your steezze</label>
            <textarea name="art-body" id="art-body" cols="30" rows="10"></textarea>
            <button id="createBtn">create</button>
        </form>
    </div>
</section>