<section class="profilecontainer">
    <header clas="profile-header">
        <h2>hello user</h2>
    </header>

    <div class="btn-container">
        <button class="create-post">create</button>
    </div>
    
</section>