<section class="profilecontainer">
    <header clas="profile-header">
        <h2>hello user</h2>
    </header>
   {{#each profileArr as |pro|}}
    <div>
        <span>{{pro.name}}</span>
    </div>

    <div class="btn-container">
        <a href="/newArt" class="create-post">create</a>
    </div>
    
</section>