<div class="signup-header">
  <h2>Create an Account</h2>
</div>
<section class="signup-form" id="signup">
  <form id="form-submit">
    <div class="container">
      <label for="name">enter your name</label>
      <input type="text" id="name" />
    </div>
    <div class="container">
      <label for="email">enter your email</label>
      <input type="text" id="email" />
    </div>
    <div class="container">
      <label for="password">enter your password</label>
      <input type="password" id="password" />
    </div>
     <button id="signUpBtn">submit</button>
  </form> 
</section>
<script src="/js/signup.js"></script>